<h2>Latest Available Version</h2>

<table>
    <tbody>
        <tr>
            <th style="width: 20%;">
                Current version
            </th>
            <td>
                {{ collector.currentVersion }}
            </td>
        </tr>
    </tbody>
</table>

<table>
    <tbody>
        <tr>
            <td>
                {% if collector.patchVersion or collector.minorVersion or collector.majorVersion %}
                    <h2>Can be updated!</h2>
                    <p>
                        Your <strong>symfony/symfony</strong> package can be updated now to the latest available version.
                    </p>
                {% else %}
                    <h2>Up-to-date!</h2>
                    <p>
                        Your <strong>symfony/symfony</strong> package already has the latest available version.
                    </p>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

{% if collector.patchVersion or collector.minorVersion or collector.majorVersion %}
    <table>
        <thead>
            <th style="width: 10%;">Semantic name</th>
            <th style="width: 10%;">Available version</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% if collector.patchVersion %}
                <tr>
                    <th>
                        Patch
                    </th>
                    <td>
                        {{ collector.patchVersion }}
                    </td>
                    <td>
                        <i>The latest available version with a <b>backwards-compatible</b> bug fixes</i>
                    </td>
                </tr>
            {% endif %}
            {% if collector.minorVersion %}
                <tr>
                    <th>
                        Minor
                    </th>
                    <td>
                        {{ collector.minorVersion }}
                    </td>
                    <td>
                        <i>The latest available version with a <b>backwards-compatible</b> additional functionality</i>
                    </td>
                </tr>
            {% endif %}
            {% if collector.majorVersion %}
                <tr>
                    <th>
                        Major
                    </th>
                    <td>
                        {{ collector.majorVersion }}
                    </td>
                    <td>
                        <i>The latest available version with <b>incompatible</b> API changes</i>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% else %}

{% endif %}
