<h2>Latest Available Version</h2>

<table>
    <tbody>
        <tr>
            <th style="width: 20%;">
                Current version
            </th>
            <td>
                {{ collector.currentVersion }}
            </td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <th style="width: 10%;">Semantic name</th>
        <th style="width: 10%;">Available version</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <th>
                Patch
            </th>
            <td>
                2.6.2
            </td>
            <td>
                <i>The latest available version with a <b>backwards-compatible</b> bug fixes</i>
            </td>
        </tr>
        <tr>
            <th>
                Minor
            </th>
            <td>
                2.7.2
            </td>
            <td>
                <i>The latest available version with a <b>backwards-compatible</b> additional functionality</i>
            </td>
        </tr>
        <tr>
            <th>
                Major
            </th>
            <td>
                3.0.2
            </td>
            <td>
                <i>The latest available version with <b>incompatible</b> API changes</i>
            </td>
        </tr>
    </tbody>
</table>
